<%= "こんにちは" %>
<% if user_signed_in? %>
  <%= current_user.name%>
    <%= "さん" %>
  </div>
<% end %>

<div class="card__wrapper">
  <% @days.first(7).each do |day| %>
    <%= render partial: "day", locals: { day:day  }%>
  <% end %>
</div>