/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #dcdcdc;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}
.main_title {
  font-size: large;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */
.diary_views {
  padding: 10px;
}
.card {
  border: solid 1px lightskyblue;
}
.card__point, .card__idea, .card__impression, .card__day {
  border-bottom: solid 1px lightskyblue ;
}
.app_summary {
  background-color: #dcdcdc;
}

/* 詳細ページ */

.diary {
  background-color: #dcdcdc;  
}
.daily_body {

}
.show_form {

}
.show_btn {

}
.daily_contents {
  width: 100%;
}
.daily_content {
  border: solid 1px #f0f8ff;
  font-size: clamp(13px, 5px + 1vw, 32px);
  text-align: center;
  background-color: lightskyblue;
  width: 20%;
}
.daily_value {
  border: solid 1px #f0f8ff;
  font-size: clamp(15px, 6px + 1vw, 32px);
  width: 80%;
  word-wrap: normal;
}
/* ToDo 日記 */
.today-main {
  margin-left: 5px;
}
.form {
  margin-top: 10px;
}
.items-text {
  margin-top: 10px;
}
textarea {
  resize: vertical;
  width: 50vw;
}
.danger_note {
  margin-top: 15px;
  font-weight: bold;
  font-size: clamp(15px, 6px + 2vw, 32px);
}
.sell-btn-contents {
  margin: 10px;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 95%;
    margin-bottom: 40px;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}